h1 {
    color: rgba(226, 229, 236, 0.884)
}

h2 {
    Color: #1100ff
}

#banner {
    background-color: yellowgreen
    
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header {
    background-color: hsl(120, 37%, 43%);
    color: white;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    
}

h1 {
   font-size: 2.5rem; 
   margin: 0;
}


#footer, footer{
    background-color: rgba(241, 113, 113, 0.89);
    color: white;
    padding: 10px 0;
    text-align: center;
}

#footer p,footer p{
    text-decoration: overline;
    font-size: 1.rem; 
    margin: 0;
}

#nav, nav{
    background-color: rgb(5, 99, 55);
     color: burlywood;
     padding: 10px 0;
     text-align: left;
}    
    
#nav a, nav a{
    color: hsl(135, 94%, 7%);
    text-decoration: overline;
    font-size: 1;
    margin: 8px;
}
    
#main, main{
    width:80%;
    margin: 0 auto;
}
