h1 {
    color: rgb(240, 130, 130)
}

h2 {
    Color: #1100ff
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header {
    background-color: hsl(199, 87%, 59%);
    color: white;
    padding: 20px 0;
}

header .container {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}


footer {
    background-color: #0ea0f5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}